.content-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin-bottom: 80px;
  padding: 30px;
}

.mainImgContainer {
  height: 75%;
}

.mainImg {
  height: 100%;
  border-radius: 15%;
}

.mainContent {
  width: 60%;
}

.headTitle {
  font-size: larger;
}

.readMore {
  color: rgb(60, 145, 255);
  text-decoration: underline 2px rgb(60, 145, 255);
}

.contentText {
  font-size: medium;
  color: rgb(95, 95, 95);
  font-weight: 500;
}

.tripsTag {
  text-decoration: underline 2px gray;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20%;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.smallImg {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}
